<footer class="page-footer-login">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">QuizInc</h5>
                <p class="grey-text text-lighten-4">QuizInc NIT Durgapur Durgapur, West Bengal 713209</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                    <li><i class="fa fa-mobile footer"></i><a class="grey-text text-lighten-3"
                            href="tel:+91 86701 22218">+91
                            86701 22218</a></li>
                    <li><i class="fa fa-envelope footer"></i><a class="grey-text text-lighten-3"
                            href="mailto:quizinc.nitdgp@gmail.com">quizinc.nitdgp@gmail.com</a></li>
                    <li><i class="fab fa-facebook footer"></i><a class="grey-text text-lighten-3"
                            href="https://www.facebook.com/quizinc.nitd">QuizInc on Facebook</a>
                    </li>
                    <li><i class="fab fa-instagram footer"></i><a class="grey-text text-lighten-3"
                            href="https://www.instagram.com/quizincnitdgp/">QuizInc on Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright &copy; <span id="year">2020</span> QuizInc
            {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
        </div>
    </div>
</footer>