<div class="login-div">
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="container login-container">
                <div class="card grey accent-3 dark-text" id="signin-box">
                    <div class="card-content">
                        <h3>Gone Viral Quiz</h3>
                        <div class="divider"></div>
                        <div class="section">
                            <p>Welcome!</p>
                        </div>


                        <div class="section">
                            <a href="/auth/google" class="btn blue darken-1">
                                <i class="fab fa-google left"></i> Sign In With Google</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="container rules-container">
                <div class="card grey accent-3 dark-text" id="rules-box">
                    <div class="card-content center-align">
                        <h3>Rules</h3>
                        <div class="divider"></div>
                        <div class="section">
                            <ul class="rules-body">
                                <li>1. There are a total of 20 questions.</li>
                                <li>2. You have 30 minutes to answer all the questions.</li>
                                <li>3. Questions 4, 5, 10, 15 and 16 are starred questions and in case of tie-breaker, the score will be judged based on them.</li>
                                <li>4. All the questions will be shown on a single page. Answer all of them and press
                                    the
                                    submit button at the bottom of the page.</li>
                                <li>5. Do not submit the quiz before you are sure of all your answers, as you cannot attempt it again once you submit it. So, for safety, avoid the use of the ENTER/RETURN button for people attempting from a PC.</li>
                                <li>
                                    6. No negative marking.
                                </li>
                                <li>7. Do not use any punctuation, commas, or extra words like 'a', 'or', 'and', etc.
                                    Keep spaces
                                    between words.</li>
                                <li>8. For the two member teams, you both can log in, but only ONE person should submit the answers. Multiple submissions from the same team will result in disqualification.</li>
                                <li>9. A countdown timer will be shown on the page and you must submit the answer before time runs out.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>