html {
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 10px 0 !important;
}

i.footer {
  margin-right: 4px !important;
  color: #fff;
}

.footer-copyright {
  color: #fff;
}

.page-footer,
.page-footer-login,
.page-header,
.page-header-login {
  background-color: #5483a0;
}

@media (max-width: 500px) {
  .bgimg {
    background-position: 0 0 0 -10px;
  }
}

.login-container,
.rules-container {
  /* width: 400px; */
  margin: 200px auto;
  text-align: center;
}

.main-body {
  height: 100vh;
}

.quiz-body {
  background-color: #151717;
  background-image: linear-gradient(45deg, #151717 0%, #151717 80%);
  color: #fff;
  /* background-color: #b61924; */
}

.divider {
  background-color: #cbe6e7;
}

.desc {
  font-size: 18px !important;
  color: #fff;
}

.ques-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ques-img img {
  max-width: 100%;
  width: 100%;
}

.input-field {
  background: rgba(2, 20, 32, 0.7);
  padding: 10px 15px;
  border-radius: 10px;
}

.ques-input {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  color: #fff;
}

.bgimg {
  background-image: url("../img/india_coming_soon.jpg");
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  font-family: "courier new", Courier, monospace;
  font-size: 25px;
  margin: 0;
  color: white;
}

.middle {
  position: absolute;
  background-color: rgba(232, 200, 86, 0.7);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comsoon {
  margin: auto;
  width: 40%;
}

.login-div {
  height: 100%;
  background-image: url("../img/GV_login.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  /* margin-bottom: -20px; */
}

.img-ques {
  margin: 25px auto 15px auto;
}

.finished-main {
  height: 80vh;
}

.submit-button {
  background-color: #fa7400;
}

.submit-button:hover {
  background-color: #d46200;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#form {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

#countdown {
  color: #fff;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#signin-box,
#rules-box {
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
